@model SmartLoad.Models.RoutePoint

@{
    ViewData["Title"] = "Удалить точку маршрута";
    var routeId = ViewBag.RouteId;
}

<h1>Удалить точку маршрута</h1>

<h3>Вы уверены, что хотите удалить эту точку маршрута?</h3>
<div>
    <h4>RoutePoint</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnloadingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnloadingDate.ToString("dd.MM.yyyy"))
        </dd>
        <dt class="col-sm-2">
            Заказы
        </dt>
        <dd class="col-sm-10">
            @if (Model.OrderRoutePoints != null && Model.OrderRoutePoints.Any())
            {
                foreach (var orderRoutePoint in Model.OrderRoutePoints)
                {
                    <span>@orderRoutePoint.Order.Name</span>

                    <br />
                }
            }
            else
            {
                <span>Нет заказов</span>
            }
        </dd>
        <dt class="col-sm-2">
            Продукты
        </dt>
        <dd class="col-sm-10">
            @if (Model.LoadingProducts != null && Model.LoadingProducts.Any())
            {
                foreach (var loadingProduct in Model.LoadingProducts)
                {
                    <span>@loadingProduct.Product.Name (Кол-во: @loadingProduct.Quantity)</span>

                    <br />
                }
            }
            else
            {
                <span>Нет продуктов</span>
            }
        </dd>
    </dl>

    <form asp-action="DeleteRoutePointConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a href="@Url.Action("RoutePoints", "Home", new { routeId })" class="btn btn-secondary">Отмена</a>
    </form>
</div>