@model SmartLoad.Models.Vehicle

@{
    ViewData["Title"] = "Удалить транспортное средство";
}

<h1>Удалить транспортное средство</h1>

<h3>Вы уверены, что хотите удалить это транспортное средство?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLoadCapacityTractor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxLoadCapacityTractor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxVolumeCapacityTractor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxVolumeCapacityTractor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLoadCapacityTrailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxLoadCapacityTrailer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxVolumeCapacityTrailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxVolumeCapacityTrailer)
        </dd>
    </dl>

    <form asp-action="DeleteVehicle" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a href="@Url.Action("Vehicles", "Home")" class="btn btn-secondary">Отмена</a>
    </form>
</div>