@model IEnumerable<SmartLoad.Models.OrderProduct>
@{
    ViewData["Title"] = "Продукты в заказе";
    var orderId = ViewBag.OrderId;
}

<h1>Продукты в заказе: @orderId</h1>

<a asp-action="AddOrderProduct" asp-controller="Home" asp-route-orderId="@orderId" class="btn btn-success">Добавить продукт</a>
<a asp-action="Orders" asp-controller="Home" class="btn btn-secondary">Назад к заказам</a>

<div style="overflow-x: auto; max-height: auto">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Продукт</th>
                <th>Количество</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Product.Name</td>
                    <td>@product.Quantity</td>
                    <td>
                        <a asp-action="EditOrderProduct" asp-controller="Home" asp-route-id="@product.Id" asp-route-orderId="@orderId" class="btn btn-primary">Редактировать</a>
                        <a asp-action="DeleteOrderProduct" asp-controller="Home" asp-route-id="@product.Id" asp-route-orderId="@orderId" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>