@model IEnumerable<SmartLoad.Models.OrderRoutePoint>

@{
    ViewData["Title"] = "Связи между заказами и точками маршрута";
    var orderId = ViewBag.OrderId;
}

<h1>Связи между заказами и точками маршрута</h1>

<a href="@Url.Action("AddOrderRoutePoint", "Home", new { orderId })" class="btn btn-success">Добавить связь</a>
<a href="@Url.Action("Orders", "Home")" class="btn btn-secondary">Назад к заказам</a>

<div style="overflow-x: auto; max-height: auto">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Заказ</th>
                <th>Точка маршрута</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Order.Name</td>
                    <td>@item.RoutePoint.Name</td>
                    <td>
                        <a asp-action="EditOrderRoutePoint" asp-controller="Home" asp-route-orderId="@item.OrderId" asp-route-routePointId="@item.RoutePointId" class="btn btn-primary">Редактировать</a>
                        <a asp-action="DeleteOrderRoutePoint" asp-controller="Home" asp-route-orderId="@item.OrderId" asp-route-routePointId="@item.RoutePointId" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>