@model IEnumerable<SmartLoad.Models.RoutePoint>

@{
    ViewData["Title"] = "Точки маршрута";
    var routeId = ViewBag.RouteId;
}

<h1>Точки маршрута маршрута: @routeId</h1>

<a href="@Url.Action("AddRoutePoint", "Home", new { routeId })" class="btn btn-success">Добавить точку маршрута</a>
<a href="@Url.Action("Routes", "Home")" class="btn btn-secondary">Назад к маршрутам</a>

<div style="overflow-x: auto; max-height: auto">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название точки маршрута</th>
                <th>Дата выгрузки</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var point in Model)
            {
                <tr>
                    <td>@point.Id</td>
                    <td>@point.Name</td>
                    <td>@point.UnloadingDate.ToString("dd.MM.yyyy")</td>
                    <td>
                        <a asp-action="EditRoutePoint" asp-route-id="@point.Id" asp-route-routeId="@routeId" class="btn btn-primary">Редактировать</a>
                        <a asp-action="DeleteRoutePoint" asp-route-id="@point.Id" asp-route-routeId="@routeId" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>