@* @model SmartLoad.Models.OrderRoutePoint

@{
    ViewData["Title"] = "Удалить связь между заказом и точкой маршрута";
    var orderId = ViewBag.OrderId;
}

<h1>Удалить связь между заказом и точкой маршрута</h1>

<h3>Вы уверены, что хотите удалить эту связь?</h3>
<div>
    <h4>OrderRoutePoint</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoutePoint.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoutePoint.Name)
        </dd>
    </dl>

    <form asp-action="DeleteOrderRoutePointConfirmed" method="post">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a href="@Url.Action("OrderRoutePoints", "Order", new { orderId })" class="btn btn-secondary">Отмена</a>
    </form>
</div> *@