@model IEnumerable<SmartLoad.Models.Distributor>

<h1>Дистрибьюторы</h1>

<a href="@Url.Action("AddDistributor", "Order")" class="btn btn-success">Добавить дистрибьютора</a>

<div style="overflow-x: auto; max-height: auto">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Примечания</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var distributor in Model)
            {
                <tr>
                    <td>@distributor.Id</td>
                    <td>@distributor.Name</td>
                    <td>@distributor.Notes</td>
                    <td>
                        <a asp-action="EditDistributor" asp-route-id="@distributor.Id" class="btn btn-primary">Редактировать</a>
                        <a asp-action="DeleteDistributor" asp-route-id="@distributor.Id" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
