@model SmartLoad.Models.VehicleType

@{
    ViewData["Title"] = "Удалить ТС";
}

<h1>Удалить ТС</h1>

<h3>Вы уверены, что хотите удалить этот тип транспортного средства?</h3>
<div>
    <h4>VehicleType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLoadCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxLoadCapacity)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxVolumeCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxVolumeCapacity)
        </dd> 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AxleCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AxleCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAxleLoad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxAxleLoad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmptyWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmptyWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WheelBase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WheelBase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FrontOverhang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FrontOverhang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RearOverhang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RearOverhang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedRoadTypes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AllowedRoadTypes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CouplingDevice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CouplingDevice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kingpindist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kingpindist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OverBeyond)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OverBeyond)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="TypesOfVehicles" class="btn btn-secondary">Отмена</a>
    </form>
</div>