@model IEnumerable<Vehicle>

<h1>Транспортные средства</h1>

<a href="@Url.Action("AddVehicle", "Vehicle")" class="btn btn-success">Добавить транспортное средство</a>

<div style="overflow-x: auto; max-height: auto">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Тип ТС</th>
                <th>Макс. грузоподъемность тягача (кг)</th>
                <th>Макс. объем тягача (м³)</th>
                <th>Макс. грузоподъемность полуприцепа (кг)</th>
                <th>Макс. объем полуприцепа (м³)</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model)
            {
                <tr>
                    <td>@vehicle.Id</td>
                    <td>@vehicle.Name</td>
                    <td>@vehicle.VehicleType.Name</td>
                    <td>@vehicle.MaxLoadCapacityTractor</td>
                    <td>@vehicle.MaxVolumeCapacityTractor</td>
                    <td>@vehicle.MaxLoadCapacityTrailer</td>
                    <td>@vehicle.MaxVolumeCapacityTrailer</td>
                    <td>
                        <a asp-action="EditVehicle" asp-route-id="@vehicle.Id" class="btn btn-primary">Редактировать</a>
                        <a asp-action="DeleteVehicle" asp-route-id="@vehicle.Id" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>